---
- name: Check we're not redeploying
  command: "readlink -f {{symfony2_project_root}}/current"
  register: current_path

- name: Check for previous tenants
  shell: "ls {{symfony2_project_root}}/current/app/config/config_tenant_*.yml"
  register: previous_tenants
  ignore_errors: true

- name: Copy tenants from old host
  shell: "cp {{symfony2_project_root}}/current/app/config/config_tenant_*.yml {{symfony2_release_destination}}/app/config/"
  when: current_path.stdout != symfony2_release_destination and symfony2_tenants and previous_tenants.rc == 0
